{
  "presets": ["stage-0"],
  "plugins": [
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": ["es2015-node6"],
      "plugins": [
        "istanbul",
        "add-module-exports"
      ]
    },
    "node4": {
      "presets": ["es2015-node4"],
      "plugins": [
        "add-module-exports"
      ],
    },
    "node6": {
      "presets": ["es2015-node6"],
      "plugins": [
        "add-module-exports"
      ],
    }
  }
}
